/* место для вашего кода */
.header {
    padding: 92px 24px;
}

.header__menu {
    display: grid;
    grid-template-columns: 1.25fr 0.5fr 1.25fr;
    align-items: center;
    padding: 0px 26px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: circle;
    
}

.header__links-list-item {
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.13px;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: underline;
}

.header__logo {
    justify-self: center;
    align-self: center;
    width: 136px;
    display: block;
}

.header__logo-image {
    
}

.header__address {
    justify-self: flex-end;
    font-size: 18px;
    line-height: 24.3px;
    padding-right: 38px;
}


.cover {

}

.cover__overlay {

}

.overlay {

}


.cover__title {
}

.cover__description {
}

.aligned-text {
}

.aligned-text_center {
}

.cover__description-text {
}


.footer {
}

.footer__menu {
}

.footer__social-list {
}


.lots {
}
.about {
}




.lots__heading {
}
.lots__card-list {
}
.lots__look-more-link {
}
.about__column {
}
.footer__menu-list {
}
.footer__social-list-item {
}


.lots__card-list-item {
}
.about__logo {
}
.about__title {
}
.about__text {
}
.footer__menu-list-item {
}
.footer__social-link {
}

.letter-spacing-extended {
}
.aligned-text_right.no-letter-spacing {
}
.bet-button {
}
.card-link {
}
.about__logo-image {
}
.footer__menu-link_active {
}
.footer__menu-link {
}
.footer__social-icon {
}
.card.card_type_film {
}
.card.card_type_book {
}
.card.card_type_picture {
}
.overlay {
}
.card__title {
}
.card__text {
}
