/* место для вашего кода */
.header {
    padding: 92px 24px;
}

.header__menu {
    display: grid;
    grid-template-columns: 1.25fr 0.5fr 1.25fr;
    align-items: center;
    padding: 0px 26px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: circle;
    
}

.header__links-list-item {
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.13px;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: underline;
}

.header__logo {
    justify-self: center;
    align-self: center;
    width: 136px;
    display: block;
}

.header__logo-image {
    
}

.header__address {
    justify-self: flex-end;
    font-size: 18px;
    line-height: 24.3px;
    padding-right: 38px;
}


.cover {
    position: relative;
    background: url("/images/cover.jpg") no-repeat center;
    background-size: cover;
    padding: 50px;
    box-sizing: border-box;
}

.cover__overlay {
    inset: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    
}


.cover__title {
    display: flex;
    flex-direction: column;
    padding: 115px 0 135px 0;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: white;
    position: relative;
    z-index: 2;
}

.aligned-text {
    line-height: 115px;
}

.aligned-text_center {
    line-height: 140px;
    align-self: center;
}

.aligned-text_right {
    line-height: 100px;
    align-self: flex-end;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 0.9em;
    color: white;
    text-transform: uppercase;
}

.bet-button {
    width: 256px;
    padding: 12px 0px;
    background-color: inherit;
    border: 1px solid white;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    color: white;
    text-transform: uppercase;
}

.lots {
}

.lots__heading {
}

.lots__card-list {
}

.lots__look-more-link {
}

.lots__card-list-item {
}

.card-link {
}

.card {

}

.card_type_film {
}

.card.card_type_book {
}

.card.card_type_picture {
}

.card__title {
}

.card__text {
}

.about {
}

.about__column {
}


.about__logo {
}

.about__title {
}

.about__text {
}

.about__logo-image {
}


.footer {
}

.footer__menu {
}

.footer__social-list {
}

.footer__menu-list {
}

.footer__social-list-item {
}

.footer__menu-list-item {
}

.footer__social-link {
}

.footer__menu-link_active {
}

.footer__menu-link {
}

.footer__social-icon {
}

